---
---

@import "{{ site.theme }}";

a {
	cursor: default;
}

a.home {
	cursor: default;
}

a.home:link {
	color: white;
}

a.home:visited {
	color: white;
}

a.home:hover {
	color: white;
}

a.home:active {
	color: white;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
