<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<title>br's blog</title>
  </head>
  <body>
    <header class="page-header" role="banner">
      <a href="{{ site.url }}" class="home"><h1 class="project-name">brant-ruan's blog</h1></a>
      <h2 class="project-tagline">verrückt</h2>
    </header>

    <main id="content" class="main-content" role="main">
		{{ content }}
		<!-- go to Top -->
		<div id="back-top">
			<a href="#top" title="to Top"></a>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript">
			$("#back-top").hide();
			$(document).ready(function () {
  				$(window).scroll(function () {
    				if ($(this).scrollTop() > 100) {
      					$('#back-top').fadeIn();
    				} else {
      					$('#back-top').fadeOut();
    				}
  				});
  				$('#back-top a').click(function () {
    				$('body,html').animate({
      					scrollTop: 0
    				}, 600);
    				return false;
  				});
			});
		</script>
      <footer class="site-footer">
      </footer>
	    <!-- Gitalk 评论 start  -->
		<!-- Link Gitalk 的支持文件  -->
		<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
		<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
		<script src="{{ site.url }}/resources/js/md5.js"></script>
		<div id="gitalk-container"></div>     <script type="text/javascript">
			const gitalk = new Gitalk({

			// gitalk的主要参数
				clientID: '89624947b50ac2c7fd04',
				clientSecret: '349f61bd94a6075c8419fcc6f0a9993fdb2d11e7',
				repo: 'blog-comments',
				owner: 'brant-ruan',
				admin: ['brant-ruan'],
				id: md5(location.pathname),
			});
			gitalk.render('gitalk-container');
		</script>
		<!-- Gitalk end -->
    </main>
  </body>
</html>
